@model IReadOnlyList<CultureOption>

<form class="culture" hx-post="@Url.Action("SetCookie", "Culture")" hx-target="body" hx-trigger="change" hx-push-url="true">
	<select name="culture" title="@(Translation.Get<WebTranslations>("Layout.CultureSelection"))">
		@foreach (var culture in Model)
		{
			<!option value="@culture.CultureInfo.TwoLetterISOLanguageName" @culture.Selected>@culture.CultureInfo.TwoLetterISOLanguageName.ToUpper()</!option>
		}
		<input type="hidden" name="returnPath" value="@Context.Request.Path">
	</select>
</form>
