@using Cyberia.Salamandra;

@using System.Text

<!DOCTYPE html>

<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="~/favicon.ico">
	<link rel="stylesheet" href="~/css/icons.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<title>@ViewBag.Title - Amphibian</title>
</head>
<body>
	<header>
		<nav>
			@Html.Raw(BuildNavItems())
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		<div class="left">
			<pre><span class="icon-code"></span> Développé par Lounek</pre>
			<pre class="dot"> • </pre>
			<pre>@Context.Request.Host est un fansite non affilié à <a href="https://www.ankama.com">Ankama Games</a></pre>
		</div>
		<div class="right">
			@if (!string.IsNullOrEmpty(@Bot.Config.GuildInviteUrl))
			{
				<a href="@Bot.Config.GuildInviteUrl"><span class="icon-discord"></span></a>
			}
			@if (!string.IsNullOrEmpty(@Web.Config.GitUrl))
			{
				<a href="@Web.Config.GitUrl"><span class="icon-git"></span></a>
			}
		</div>
	</footer>
</body>
</html>

@functions {
	private static readonly Dictionary<string, string> navItems = new()
	{
		{ "/breeds", "Classes" },
		{ "/items", "Items" },
		{ "/spells", "Sorts" },
		{ "/monsters", "Monstres" },
		{ "/dungeons", "Donjons" },
		{ "/quests", "Quetes" },
		{ "/tools", "Outils" }
	};

	private string BuildNavItems()
	{
		StringBuilder builder = new();

		foreach (var item in navItems)
		{
			builder.AppendLine($"""<a href="{item.Key}" class="{IsSelected(item.Key)}">{item.Value}</a>""");
		}

		return builder.ToString();
	}

	private string IsSelected(string page)
	{
		return Context.Request.Path.StartsWithSegments(page, StringComparison.OrdinalIgnoreCase) ? "selected" : "";
	}
}
