@using Cyberia.Salamandra;

<!DOCTYPE html>

<html lang="@ViewBag.Culture">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="icon" href="~/favicon.ico">
	<link rel="stylesheet" href="~/css/icons.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<script src="~/lib/htmx/htmx.min.js" type="text/javascript"></script>
	<title>@ViewBag.Title - @Context.Request.Host</title>
</head>
<body>
	<header>
		<vc:culture-form />
		<nav class="menu">
			<ul>
				<li><a asp-culture-page="/breeds" htmx-menu-item>@WebTranslations.Page_Breeds_Title</a></li>
				<li><a asp-culture-page="/items" htmx-menu-item>@WebTranslations.Page_Items_Title</a></li>
				<li><a asp-culture-page="/spells" htmx-menu-item>@WebTranslations.Page_Spells_Title</a></li>
				<li><a asp-culture-page="/monsters" htmx-menu-item>@WebTranslations.Page_Monsters_Title</a></li>
				<li><a asp-culture-page="/dungeons" htmx-menu-item>@WebTranslations.Page_Dungeons_Title</a></li>
				<li><a asp-culture-page="/quests" htmx-menu-item>@WebTranslations.Page_Quests_Title</a></li>
				<li><a asp-culture-page="/tools" htmx-menu-item>@WebTranslations.Page_Tools_Title</a></li>
			</ul>
		</nav>
		<vc:breadcrumbs-nav />
	</header>

	<main>
		@RenderBody()
	</main>

	<footer>
		<div class="left">
			<p><span class="icon-code"></span>&nbsp;@Translation.Format(WebTranslations.Layout_DevelopedBy, "Lounek")</p>
			<p><a href="@Context.Request.Host">@Context.Request.Host</a>&nbsp;@WebTranslations.Layout_NotAffiliated&nbsp;<a href="https://www.ankama.com">Ankama Games</a></p>
		</div>
		<div class="right">
			@if (!string.IsNullOrEmpty(Bot.Config.GuildInviteUrl))
			{
				<a href="@Bot.Config.GuildInviteUrl"><span class="icon-discord"></span></a>
			}
			@if (!string.IsNullOrEmpty(Web.Config.GitUrl))
			{
				<a href="@Web.Config.GitUrl"><span class="icon-git"></span></a>
			}
		</div>
	</footer>
</body>
</html>
